.iconn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.iconn {
  width: 700px;
  animation: 2s linear 0s normal none infinite running flip;
}

@keyframes flip {
  from {
    transform: rotate(-280deg);
  }
  to {
    transform: rotate(80deg);
  }
}
