.navbar {
  z-index: 9999;
  display: flex;
  flex-direction: row;

  top: 0;

  width: 100%;
  height: 60px;

  border-bottom: 1px solid rgb(224, 224, 224);
  box-shadow: 0 3px 1px -2px rgb(224, 224, 224);

  background: rgb(247, 247, 247);
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  img {
    width: 100px;
    height: 80px;

    &:hover {
      transform: scale(1.2);
      transition: 0.2s;
    }
  }

  h4 {
    padding: 20px;

    font-size: 17px;
    font-weight: 300;

    &:hover {
      border-bottom: 1px solid rgb(224, 224, 224);
      box-shadow: 0 3px 1px -2px rgb(224, 224, 224);

      color: #212529;
      background: rgb(247, 247, 247);
      background: linear-gradient(
        180deg,
        rgba(247, 247, 247, 1) 0%,
        rgb(241, 241, 241) 100%
      );
    }
  }

  .right {
    position: absolute;

    top: 0;
    right: 0;
  }
}

.header {
  display: flex;
}

.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
  color: #212529;
}
