.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  h1 {
    margin: 30px;
    margin-top: 80px;

    font-size: 80px;
    font-family: "Rye", cursive;
    color: #348100;
    text-shadow: 2px 2px 4px #000000;
  }

  h2 {
    margin-bottom: 85px;

    font-size: 40px;
    font-weight: 700;
  }
}

.article {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 70%;
  height: 280px;

  margin: 20px;

  border: 1px solid rgb(231, 231, 231);
  border-bottom: none;
  border-right: none;
  box-shadow: 9px 12px 15px 0px rgba(0, 0, 0, 0.38);
}

.image {
  width: 400px;
  height: 280px;

  margin: auto;

  object-fit: cover;

  &:hover {
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.2s;
  }
}

.right-article {
  width: 750px;
  height: 280px;

  padding: 15px;

  background-color: rgb(181, 212, 169);

  a {
    outline: none;
    text-decoration: none;

    color: black;

    &:hover {
      color: #2a6601;
      transition: 0.3s;
    }
  }
}

.title {
  width: 100%;
  height: 20px;

  padding: 0 20px;

  font-size: 28px;
}

.description {
  width: 100%;
  height: 110px;

  padding: 20px;
  margin-top: 30px;

  font-size: 24px;

  overflow: hidden;
  text-overflow: ellipsis;
}

//ipad
@media screen and (max-width: 768px) {
  .image {
    width: 250px;
  }

  .title {
    height: 40%;

    font-size: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    height: 70px;

    margin-top: 15px;

    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right-article {
    width: 70vw;
    height: 250px;

    margin: 0;

    box-shadow: none;
  }

  .article {
    height: 250px;

    border: 1px solid rgb(231, 231, 231);
    border-bottom: none;
    border-right: none;
    box-shadow: 6px 8px 10px 0px rgba(0, 0, 0, 0.38);
  }

  a {
    width: 310px;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image {
    width: 310px;
    height: 250px;

    margin: 0;

    border: none;
    box-shadow: none;

    &:hover {
      transform: none;
    }
  }
}

//phone
@media screen and (max-width: 600px) {
  .article-container {
    background-color: rgb(230, 230, 230);
  }

  .article {
    flex-direction: column;
    align-items: center;

    width: 80vw;
    height: 70vh;

    .right-article {
      flex-direction: column;

      width: 80vw;
      height: 40vh;

      text-align: center;

      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      width: 90%;
      height: 95px;

      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;

      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  h1 {
    text-align: center;
  }

  .fl {
    display: none;
  }

  a {
    width: 80vw;
  }

  .image {
    width: 100%;
    height: 35vh;

    margin: auto;
  }

  .title {
    width: 100%;
    height: 85px;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
