.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  h1 {
    margin: 30px;
    margin-top: 80px;

    font-size: 80px;
    font-family: "Rye", cursive;
    color: #348100;
    text-shadow: 2px 2px 4px #000000;
  }

  h2 {
    margin-bottom: 85px;

    font-size: 30px;
    font-weight: 700;
  }
}

.title {
  font-size: 25px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 80vw;
  height: 20%;

  margin: 20px;
}

.image {
  width: 300px;
  height: 250px;

  margin: 0px 30px;

  object-fit: cover;

  border: 1px solid rgb(231, 231, 231);
  box-shadow: 6px 4px #888888;
  border-radius: 10px;

  &:hover {
    transform: scale(1.03);
    transition: 0.2s;
  }
}

.right-article {
  width: 750px;
  height: 250px;

  padding: 15px;

  background-color: rgb(181, 212, 169);

  border-radius: 5px;
  box-shadow: 6px 4px #888888;

  a {
    outline: none;
    text-decoration: none;

    color: black;

    &:hover {
      color: rgb(110, 110, 110);
      transition: 0.3s;
    }
  }
}

.description {
  width: 100%;
  height: 60px;

  margin-top: 30px;

  font-size: 24px;

  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .article-container {
    background-color: lightgray;
  }

  .article {
    flex-direction: column;
    align-items: center;

    width: 90vw;
    padding-bottom: 40px;

    border-bottom: 1px solid black;

    .right-article {
      width: 250px;
      height: 30vh;

      text-align: center;

      border: none;
      border-radius: 0;

      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      display: none;
    }
  }

  h1 {
    text-align: center;
  }

  .fl {
    display: none;
  }
  .image {
    align-self: center;

    width: 90vw;

    border-radius: 0;
  }

  .title {
    height: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 250px;
  }

  .title {
    height: 40%;
    font-size: 23px;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    height: 45%;
    font-size: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
